<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.phauna.litecoinwidget"
      android:versionCode="18"
      android:versionName="18">

 <uses-permission android:name="android.permission.INTERNET"/>
 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

 <application android:label="@string/app_name"
              android:icon="@drawable/litecoin">

  <receiver android:name=".MyWidgetProvider">
    <intent-filter>
      <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    </intent-filter>
    <meta-data
      android:name="android.appwidget.provider"
      android:resource="@xml/widget_info" />
  </receiver>

  <activity android:name=".MainActivity">
   <intent-filter>
    <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
      <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
   </intent-filter>
  </activity>

  <service android:name=".UpdateWidgetService"></service>

 </application>


 <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
</manifest>
